 /* css Jaguar */
@font-face {
    font-family: "caladea";
    src: url("../fonts/Caladea-Regular.TTf") format("truetype");
}

header{
	text-align: center;
	font-family:Arial;
	color: #58595B;
	padding: 1%;
}
/*///////////////////////////////////////////*/
/* estilos de Cuenta menu superior derecho */
/*///////////////////////////////////////////*/
header ul{
	list-style-type: none;
	margin-right: 0px;
}
header ul li a{
	color: #58595B;
}
header ul li a:hover{
	text-decoration: none;
	color: #329999;
}
header ul li ul{
	background-color: #329999;
	text-align: left;
}
/*///////////////////////////////////////*/
/* estilos de menu bajo el logo   */
/*////////////////////////////////*/

	#barra ul{
		padding-left: 0px;
	}
	#barra ul li{
		padding-right: 0px;
		margin: 0px;
	}
	header i {
		color: #329999;
	}
	header p{
		text-align:right;
	}
	header img{
		width: 20%;
	}
	header nav ul{
		list-style-type: none;
		position: relative;
	}
		
	header nav ul li{
		display: inline-block;
		padding-right: 7em;
		padding-top: 1em;

	}
	header nav ul li a{
		color: #58595B;
	}

	header nav ul li a:hover{
		color: #329999;
		list-style-type: none;
		text-decoration: none;
	}
	
/*//////////////////////*/
/* seccion de submenu  */
/*/////////////////////*/
	header nav ul li ul{
		margin: 0px auto;
		right: 0px;
		left: 0px;
		padding-left: 0px;
		position: absolute;
		height: 320px;
		overflow: hidden;
		z-index: 40;
		text-align: left;
		background-color: #fff;
		box-shadow: 0px 2px 4px #eaeaea;
		display:none;
	}
	
	header nav ul li ul ul li{
		float: left;
		/*display: block;*/
	}
	header nav .titulo{
		font-family: Caladea;
		color: #329999;
	}
	header nav ul li ul  img{
		height: 310px;
	}
	header nav ul li ul li a:hover{
		color:#329999;
	}
	header nav ul li:hover ul{
		display: block;
	}
/*////////////////////////////*/
/*	fin submenus    */
/*/////////////////////////////*/

section{
	width: 940px;
	margin: 0px auto;
}
section h2{
	text-align: center;
	color: #329999;
	font-family: Caladea;
	font-weight: bold;
}

div .producto{
	text-align: center;
	font-size: 16px;
}
div .producto h4 span{
	color: #29807D;
}

div .caja{
	width: 220px;
	height: 255px;
}
	div .caja img{
	width: 200px;
	}
	div .caja:hover .efecto{
		visibility: visible; /*el efecto del hover se activa en caja pero hace efecto en .efecto*/
	}

div .efecto{
	width: 220px;
	height: 255px;
	background-color: rgba(171, 221, 219, 0.35);
	position: absolute;
	top: 0px;
	color: #29807D;
	visibility: hidden; /*la clase efecto permanece oculta con hidden, deja de estar oculta cuando el hover de .caja de activa*/
	}
	div .efecto a{
		background-color: rgba(255,255,255,.5);
		width: 140px;
		border: 1px solid #ddd;
		border-radius: 30px;
		padding: 10px 20px;
		top:35%;
		position: relative;
		color: #188FAA;
	}
	div .efecto a:hover{
		background-color: rgba(221,221,221,.5);
		text-decoration: none;
	}
	div .efecto #link{
		top:45%;
	}
/*////////////////////////////*/
/*		seccion de articulos  */
/*////////////////////////////*/
div #articulos{
	margin-top: 2em;
	margin-bottom: 2em;
}

div #articulos .arti{
	font-family: caladea;
	border: 1px solid #ddd;
	height: 300px;
	width: 45%;
	margin: 1%;
}
div #articulos .arti h3{
	line-height: bold;
}
div #articulos .arti img{
	height: 290px;
	right: 0px;
}
div #articulos .arti aside{
	float: left;
	margin: 1%;
}
div #articulos .arti hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
div #articulos .arti a{
	color: #29807D;
	line-height: bold;
	position: relative;
	top: 120px;
}
div #articulos .arti a:hover{
	text-decoration: none;
	color: #ddd;
}
/*////////////////////////////*/
/* pie de pagina */
/*/////////////////////////////*/
footer{
	background-color: #29807D;
	width: 100%;
	color: #E6E7E8;
	padding: 1%
}
#pie{
	width: 960px;
	margin: 0px auto;
	text-align: center;
	font-family: caladea;

}
	footer img{
		width: 200px;
	}
	
	footer li{
		list-style-type: none;
		text-align: left;
		line-height: 2.5em;
		font-family: arial;
	}
	footer a{
		color: #E6E7E8;
	}
	footer a:hover{
		color: #3AC1BA;
		text-decoration: none;
	}
	footer p{
		text-align: left;
		line-height:1.5em;
		margin-bottom: 2em;
		font-family: arial;
	}

